@import _presets

.mainFooter
    background-color: $gray
    padding: 50px $lateral-spacing 58px
    .credit
        text-align: center
        p
            margin-bottom: 48px
            &:last-child
                margin-bottom: 0